/timesheets.pem

# BACKEND
/Server/node_modules

# Ignorar directorios y archivos específicos en public
/Server/public/hot
/Server/public/storage
/Server/public/tmp
/Server/public/vendor

# Ignorar archivos de configuración y caché en storage
/Server/storage/*.key
/Server/storage/tmp

# Ignorar vendor y otros archivos y directorios específicos del proyecto
/Server/vendor
/Server/.env
/Server/.env.backup
/Server/.phpunit.result.cache
/Server/Homestead.json
/Server/Homestead.yaml
/Server/npm-debug.log
/Server/yarn-error.log
/Server/.idea
/Server/.vscode
/Server/composer.lock
/Server/.php-cs-fixer.cache
/Server/phpunit.xml
/Server/.DS_Store
/Server/yarn.lock
/Server/google_credentials.json






# FRONTEND

# compiled output
/FrontEnd/dist
/FrontEnd/tmp
/FrontEnd/out-tsc
# Only exists if Bazel was run
/FrontEnd/bazel-out

# dependencies
/FrontEnd/node_modules

# profiling files
/FrontEnd/chrome-profiler-events*.json
/FrontEnd/speed-measure-plugin*.json

# IDEs and editors
/FrontEnd/.idea
/FrontEnd/.project
/FrontEnd/.classpath
/FrontEnd/.c9/
/FrontEnd/*.launch
/FrontEnd/.settings/
/FrontEnd/*.sublime-workspace

# IDE - VSCode
/FrontEnd/.vscode/*
!/FrontEnd/.vscode/settings.json
!/FrontEnd/.vscode/tasks.json
!/FrontEnd/.vscode/launch.json
!/FrontEnd/.vscode/extensions.json
/FrontEnd/.history/*

# misc
/FrontEnd/.angular/cache
/FrontEnd/.sass-cache
/FrontEnd/connect.lock
/FrontEnd/coverage
/FrontEnd/libpeerconnection.log
/FrontEnd/npm-debug.log
/FrontEnd/yarn-error.log
/FrontEnd/testem.log
/FrontEnd/typings

# System Files
/FrontEnd/.DS_Store
/FrontEnd/Thumbs.db
