

.custom-line-height {
  line-height: 1.7;
}


.hero-section-faqs {
  padding-top: 80px;
  padding-bottom: 0px !important;

  &.bg-ico-hero-faqs{
      background-image: url("../../../../assets/images/homepage/faqs-section-bg.png");
      background-size: cover;
      background-position: top;
  }

  @media (max-width: 575.98px) {
      padding-top: 140px;
      padding-bottom: 0px !important;
  }
}


.faqs-content {
  @media (max-width: 767px) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
  }
}

.dog-faqs {
  @media (max-width: 767px) {
    display: none !important;
  }
}



.contactus-custom-padding {
  @media (max-width: 767px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}






.hero-section-contactus {
  padding-top: 110px;
  padding-bottom: 90px !important;

  &.bg-ico-hero-contactus{
      background-image: url("../../../../assets/images/homepage/faqs-section-bg.png");
      background-size: cover;
      background-position: top;
  }

  @media (max-width: 575.98px) {
      padding-top: 140px;
      padding-bottom: 0px !important;
  }
}




.compromiso {
  background-color: #FFF3F5;
  border-radius: 2rem;
  margin-right: 5.5em;
  margin-left: 5.5em;
  padding: 2em 5em;
  @media (max-width: 500px) {
    margin-right: 1em;
    margin-left: 1em;
    padding: 2em 3em;
  }
}



.description-title {
  font-size: 48px !important;
}


.responsive-titles {
  @media (max-width: 500px) {
    font-size: 2.3rem !important;
  }
}
