<nav
  class="navbar navbar-expand-lg navigation d-block p-0 border-0 fixed-top sticky"
  (window:scroll)="windowScroll()"
  id="navbar"
>
  <div class="container">
    <a class="navbar-logo" routerLink="/">
      <img
        src="assets/images/logos/hotelLogo.png"
        alt=""
        height="70"
        class="logo logo-dark"
      />
      <img
        src="assets/images/logos/hotelLogo.png"
        alt=""
        height="70"
        class="logo logo-light"
      />
    </a>

    <button
      type="button"
      class="btn btn-sm px-3 font-size-16 d-lg-none header-item"
      data-toggle="collapse"
      data-target="#topnav-menu-content"
      (click)="toggleMenu()"
    >
      <i class="fa fa-fw fa-bars"></i>
    </button>

    <!-- Icons next to the toggle button for small screens -->
    <div class="d-flex align-items-center d-lg-none ms-auto">
      <div class="d-flex align-items-center">
        <div class="dropdown d-inline-block" ngbDropdown>
          <button
            routerLink="/products/orders"
            type="button"
            class="btn header-item noti-icon position-relative"
          >
            <i class="bx bx-cart"></i>
            <span class="badge bg-danger rounded-pill">{{ countCart }}</span>
          </button>
        </div>
        <div class="d-flex" *ngIf="!isLoggedIn; else accountMenuSmall">
          <a
            class="me-2 mt-2 text-decoration-underline text-primary"
            routerLink="/account/auth/signup-2"
          >
            Registro
          </a>
          <button
            routerLink="/account/auth/login-2"
            class="btn bg-primary text-white b-width"
          >
            <span class="d-none d-md-inline">Inicio de Sesión</span>
            <span class="d-inline d-md-none">Inicio</span>
          </button>
        </div>
        <ng-template #accountMenuSmall>
          <app-page-header-user-dropdown
            [landing]="true"
          ></app-page-header-user-dropdown>
        </ng-template>
      </div>


    </div>

    <div class="collapse navbar-collapse" id="topnav-menu-content">
      <ul class="navbar-nav ms-auto" id="topnav-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/portal">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/meta/reviews">Reseñas</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/wholesale-form">Mayoristas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vendor/form">Proveedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contáctenos</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="javascript: void(0);"
            [ngxScrollTo]="'faqs'"
            [ngClass]="{ active: currentSection === 'faqs' }"
            >FAQs</a
          >
        </li>
      </ul>
    </div>

    <!-- Icons for larger screens -->

    <div class="d-none d-lg-flex align-items-center ms-auto">
      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          routerLink="/products/orders"
          type="button"
          class="btn header-item noti-icon position-relative"
        >
          <i class="bx bx-cart"></i>
          <span class="badge bg-danger rounded-pill">{{ countCart }}</span>
        </button>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex" *ngIf="!isLoggedIn; else accountMenu">
          <a
            class="me-4 mt-2 text-decoration-underline text-primary"
            routerLink="/account/auth/signup-2"
          >
            Registro
          </a>
          <button
            routerLink="/account/auth/login-2"
            class="btn bg-primary text-white b-width"
          >
            <span class="d-none d-md-inline">Inicio de Sesión</span>
            <span class="d-inline d-md-none">Inicio</span>
          </button>
        </div>

        <ng-template #accountMenu>
          <app-page-header-user-dropdown
            [landing]="true"
          ></app-page-header-user-dropdown>
        </ng-template>
      </div>


    </div>
  </div>
  <div
    class="w-100 bg-primary text-center py-2"
    *ngIf="
      roleNames.includes('WHOLESALE_USER') &&
      authService?.authService?.model?.wholesaleUsers?.isApproved
    "
  >
    <h5 class="text-white font-weight-bold m-0">Portal Mayorista</h5>
  </div>
</nav>


<div>
  <section class="section bg-white pt-4 pb-0">
    <app-banners-list-page> </app-banners-list-page>
  </section>
</div>


<div
  appScrollspy
  [spiedTags]="['SECTION']"
  (sectionChange)="onSectionChange($event)"
>


  <!-- currency price section start -->
  <section class="section bg-white p-0 pt-5" id="inicio">
    <div class="container">
      <div>
        <div class="row">
          <div class="col-md-4">
            <div class="card shadow-none">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="icon-wrapper p-2">
                      <div class="mx-1">
                        <img
                          class="img-fluid rounded"
                          width="35"
                          src="assets/images/homepage/icons/items.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="fw-bold text-secondary features-fs">
                      Todo lo que necesitas
                    </h5>
                    <p class="mb-0 features-description size-string">
                      Más de 4.000 productos para tu negocio y tu peludo..<i
                        class="mdi mdi-arrow-up ms-1 text-success"
                      ></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-none">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="icon-wrapper p-2">
                      <div class="mx-1">
                        <img
                          class="img-fluid rounded"
                          width="50"
                          src="assets/images/homepage/icons/bus.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="fw-bold text-secondary features-fs">
                      Envios Nacionales
                    </h5>
                    <p class="mb-0 features-description size-string">
                      Enviamos a todos los destinos de Colombia.<i
                        class="mdi mdi-arrow-up ms-1 text-success"
                      ></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow-none">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 me-3">
                    <div class="icon-wrapper p-2">
                      <div class="mx-1">
                        <img
                          class="img-fluid rounded"
                          width="30"
                          src="assets/images/homepage/icons/ubi.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="fw-bold text-secondary features-fs">
                      Puntos físicos
                    </h5>
                    <p class="mb-0 features-description size-string">
                      Contamos con dos puntos físicos en Bogotá..<i
                        class="mdi mdi-arrow-up ms-1 text-success"
                      ></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- end container -->
  </section>

  <section class="section pt-4 pb-3 bg-white" id="features">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title responsive-titles fw-bold text-primary">
              Un Lazo con tu mascota
            </h1>
            <h5 class="mt-3">
              Descubre nuestra línea exclusiva de productos para tu fiel
              compañero.
            </h5>
            <a
              [routerLink]="'products/portal'"
              class="btn btn-rounded mt-3 bg-primary text-white fs-5"
              >Ver todos los productos</a
            >
          </div>
        </div>
      </div>
      <app-categories-list-page></app-categories-list-page>
    </div>
  </section>

  <section class="section pt-1 bg-white pb-4" id="features">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title responsive-titles fw-bold text-primary">
              Un Lazo con tu negocio
            </h1>
            <h5 class="mt-3">
              Regístrate como mayorista y accede a precios exclusivos en <br />
              nuestra amplia gama de productos para mascotas.
            </h5>
            <button class="btn btn-rounded mt-3 bg-primary text-white fs-5"
            (click)="goWhosale()"
            >
              Quiero Cotizar
            </button>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-6 ">
            <img
              class="img-fluid rounded"
              src="assets/images/homepage/mayoristas.png"
              alt=""
            />
          </div>
          <div class="col-md-6 px-4">
            <div class="col-12 d-flex flex-wrap responsive-margin-items">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center "
              >
                <div class="p-2">
                  <img
                    class="img-fluid rounded"
                    width="30"
                    src="assets/images/homepage/icons/vip.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-10">
                <h3 class="text-secondary">Precios exclusivos</h3>
                <p>
                  Accede a tarifas competitivas hechas especialmente para tu
                  negocio, permitiéndote maximizar tus márgenes de ganancia.
                </p>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap responsive-margin-items">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                <div class="p-2">
                  <img
                    class="img-fluid rounded"
                    width="30"
                    src="assets/images/homepage/icons/variedad.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-10">
                <h3 class="text-secondary">Variedad de Productos</h3>
                <p>
                  Elige entre una amplia gama de productos para mascotas, con
                  promociones únicas.
                </p>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap responsive-margin-items">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                <div class="p-2">
                  <img
                    class="img-fluid rounded"
                    width="30"
                    src="assets/images/homepage/icons/optimizacion.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-10">
                <h3 class="text-secondary">Optimización de pedidos</h3>
                <p>
                  Realiza y gestiona tus pedidos de manera rápida y sencilla a
                  través de nuestra plataforma en línea.
                </p>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap responsive-margin-items">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                <div class="p-2">
                  <img
                    class="img-fluid rounded"
                    width="30"
                    src="assets/images/homepage/icons/soporte.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-10">
                <h3 class="text-secondary">Soporte Dedicado</h3>
                <p>
                  Disfruta de atención personalizada y asistencia prioritaria
                  para ayudarte a satisfacer todas las necesidades de tu
                  negocio.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section class="section pt-4 bg-white"     id="tienda">
    <div class="container">
      <div class="row mt-0">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title responsive-titles fw-bold text-primary">
              Favoritos de Lazo
            </h1>
            <h5 class="mt-3">
              Descubre los productos más populares, elegidos por su calidad y preferencia<br /> de nuestros clientes.
              ¡Encuentra el accesorio perfecto para tu mascota o tu negocio!
            </h5>
            <a
              [routerLink]="'products/portal'"
              class="btn btn-rounded mt-3 bg-primary text-white fs-5"
              >Ver Todos los Favoritos</a
            >
          </div>
        </div>
      </div>
      <app-pin-products-list-page></app-pin-products-list-page>
    </div>
  </section>




  <section
    class="section hero-section-prov bg-ico-hero-prov bg-white"

  >
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-6 provider-custom-padding">
          <div class="text-start mb-5">
            <h1 class="description-title responsive-titles fw-bold provider-text-color">
              Únete a nuestra red de proveedores y ofrece tus productos en Lazo
            </h1>
            <p class="mt-3 font-size-16">
              Buscamos conectar con fabricantes nacionales e importadores de
              productos para mascotas. Amplía tu alcance y colabora con nosotros
              para ofrecer lo mejor a todo Colombia
              <b>¡Conéctate y crezcamos juntos!</b>
            </p>
            <button class="btn fs-5 btn-rounded mt-3 bg-primary text-white"
            [routerLink]="['/vendor/form']"
            >
              Únete como proveedor
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <img
            class="img-fluid rounded "
            src="assets/images/homepage/provedores.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section pt-4 bg-white" id="features">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title fw-bold">Novedades Lazo</h1>
            <h5 class="mt-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              <br />
              eiusmod tempor incididunt ut labore et dolore magna.
            </h5>
            <a
              [routerLink]="'products/portal'"
              class="btn btn-outline-primary mt-3"
              >Ver todos los productos</a
            >
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="section pt-4 bg-white" id="features">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title fw-bold text-primary">
              Porque elegirnos
            </h1>
            <h5 class="mt-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              <br />
              eiusmod tempor incididunt ut labore et dolore magna.
            </h5>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-6">
            <img
              class="img-fluid rounded"
              src="assets/images/animals/dog2.jpg"
              alt=""
            />
          </div>
          <div class="col-md-6">
            <div class="col-12 d-flex flex-wrap">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                <div class="p-2 rounded bg-primary text-white text-light">
                  <i class="bx bxs-phone font-size-20"></i>
                </div>
              </div>
              <div class="col-10">
                <h3 class="text-secondary">Atencion Personalizada</h3>
                <p>
                  Aliquam erat volutpat. Integer malesuada turpis id fringilla
                  suscipit. Maecenas ultrices.
                </p>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                <div class="p-2 rounded bg-primary text-white text-light">
                  <i class="mdi mdi-tag-multiple-outline font-size-20"></i>
                </div>
              </div>
              <div class="col-10">
                <h3 class="text-secondary">Precios mas bajos del sector</h3>
                <p>
                  Aliquam erat volutpat. Integer malesuada turpis id fringilla
                  suscipit. Maecenas ultrices.
                </p>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                <div class="p-2 rounded bg-primary text-white text-light">
                  <i class="mdi mdi-map-marker-outline font-size-20"></i>
                </div>
              </div>
              <div class="col-10">
                <h3 class="text-secondary">Dos sedes</h3>
                <p>
                  Aliquam erat volutpat. Integer malesuada turpis id fringilla
                  suscipit. Maecenas ultrices.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->




  <section class="section pt-5 pb-4 bg-white" id="contactanos">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title responsive-titles fw-bold text-primary">Contáctanos</h1>
            <h5 class="mt-3">
              Estamos aquí para ayudarte. Visítanos o llámanos, nuestro equipo está listo para responder tus preguntas y ofrecerte la mejor atención para ti, tu negocio y tu mascota.
            </h5>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-6 mb-5">
            <div class="col-12 d-flex flex-wrap justify-content-center">
              <div
                class="col-auto d-flex justify-content-end align-items-start me-2"
              >
                <div class="p-2">
                  <img
                    class="img-fluid rounded"
                    width="30"
                    src="assets/images/homepage/icons/ubi.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-7">
                <h3 class="text-secondary mb-1">Kr 13 #10-72</h3>
                <p>San Victorino, Bogotá</p>
              </div>
              <div class="col-2">
                <button class="btn btn-rounded bg-primary text-white">
                  Ir ahora
                </button>
              </div>
            </div>
            <div class="p-3">
              <google-map
                #map
                width="100%"
                height="320"
                [center]="center"
                [zoom]="15"
                (zoomChanged)="zoomChanged(map.getZoom())"
              >
                <ng-container *ngIf="zoomLevel !== undefined">
                  <map-marker
                    *ngFor="let marker of markers1"
                    #markerId="mapMarker"
                    [position]="marker"
                    [options]="markerOptions"
                  >
                  </map-marker>
                </ng-container>
              </google-map>
            </div>
            <div class="row align-items-center justify-content-center">
              <div class="col-auto">
                <img
                  width="27"
                  class="img-fluid"
                  src="assets/images/homepage/icons/whatsapp.png"
                  alt="ubi"
                />
              </div>
              <div class="col-9">
                <h4 class="text-secondary mb-0">
                  +57 321 380-7861 / +57 311 291-0815
                </h4>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-5">
            <div class="col-12 d-flex flex-wrap justify-content-center">
              <div
                class="col-auto d-flex justify-content-end align-items-start me-2"
              >
                <div class="p-2">
                  <img
                    class="img-fluid rounded"
                    width="30"
                    src="assets/images/homepage/icons/ubi.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-7">
                <h3 class="text-secondary mb-1">Cl. 10 #16-17</h3>
                <p>Voto Nacional, Bogotá</p>
              </div>
              <div class="col-2">
                <button class="btn btn-rounded bg-primary text-white">
                  Ir ahora
                </button>
              </div>
            </div>
            <div class="p-3">
              <google-map
                #map
                width="100%"
                height="320"
                [center]="center"
                [zoom]="15"
                (zoomChanged)="zoomChanged(map.getZoom())"
              >
                <ng-container *ngIf="zoomLevel !== undefined">
                  <map-marker
                    *ngFor="let marker of markers2"
                    #markerId="mapMarker"
                    [position]="marker"
                    [options]="markerOptions"
                  >
                  </map-marker>
                </ng-container>
              </google-map>
            </div>
            <div class="row align-items-center justify-content-center">
              <div class="col-auto">
                <img
                  width="30"
                  class="img-fluid"
                  src="assets/images/homepage/icons/email.png"
                  alt="email"
                />
              </div>
              <div class="col-9">
                <h4 class="text-secondary mb-0" style="overflow-wrap: break-word;">
                  serviciolazomascotas@gmail.com
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-4 bg-white" id="reviews">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1
              routerLink="/meta/reviews"
              class="description-title responsive-titles fw-bold text-primary cursor-pointer"
            >
              Testimonios
            </h1>
          </div>
        </div>

        <app-reviews-list-page></app-reviews-list-page>
      </div>
    </div>
  </section>




  <section
    class="section hero-section-faqs bg-ico-hero-faqs bg-white"
    id="faqs"
  >
    <div class="ps-lg-4 pe-lg-5">
      <div class="row d-flex flex-wrap align-items-end">
        <div class="col-md-6 dog-faqs">
          <img
            class="img-fluid rounded"
            src="assets/images/homepage/faqs-dog.png"
            alt=""
          />
        </div>
        <div class="col-md-6 faqs-content">
          <div class="row">
            <h1 class="fw-bold provider-text-color text-center mb-5">
              Preguntas frecuentes
            </h1>
            <div class="col-lg-12">
              <div class="vertical-nav">
                <div class="row justify-content-start">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-4">
                        Todo lo que necesitas saber
                      </h4>

                      <ngb-accordion
                        [closeOthers]="true"
                        activeIds="static-1"
                        class="custom-accordion"
                      >
                        <ngb-panel id="static-1">
                          <ng-template ngbPanelTitle class="accordion-list">
                            <div>¿ Cómo puedo registrarme como mayorista ?</div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body p-0">
                              <p class="mb-0">
                                Para registrarte como mayorista, dirígete a la
                                sección "Mayoristas" en nuestra página web,
                                completa el formulario de registro con los datos
                                de tu negocio y espera la confirmación de
                                nuestra parte.
                              </p>
                            </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                          <ng-template ngbPanelTitle class="accordion-list">
                            <div>¿ Qué tipos de productos ofrece Lazo ?</div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body p-0">
                              <p class="mb-0">
                                Ofrecemos una amplia gama de productos para
                                mascotas, incluyendo collares, juguetes, ropa, y
                                artículos de cuidado y salud para mascotas.
                              </p>
                            </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3">
                          <ng-template ngbPanelTitle class="accordion-list">
                            <div>
                              ¿ Cómo puedo convertirme en proveedor de Lazo ?
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body p-0">
                              <p class="mb-0">
                                Si eres fabricante o importador de productos
                                para mascotas, visita nuestra sección
                                "Proveedores" y completa el formulario para
                                unirte a nuestra red y vender tus productos a
                                Lazo.
                              </p>
                            </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-4">
                          <ng-template ngbPanelTitle class="accordion-list">
                            <div>
                              ¿Puedo realizar pedidos al por menor y al por
                              mayor en la misma cuenta?
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body p-0">
                              <p class="mb-0">
                                No, necesitas crear cuentas separadas para
                                realizar pedidos al por menor y al por mayor.
                                Cada cuenta tiene diferentes beneficios y
                                precios exclusivos.
                              </p>
                            </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-5">
                          <ng-template ngbPanelTitle class="accordion-list">
                            <div>
                              ¿Cuánto tiempo tarda en confirmarse mi registro
                              como mayorista?
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body p-0">
                              <p class="mb-0">
                                La confirmación de tu registro como mayorista
                                puede tardar entre 24 y 48 horas. Recibirás un
                                correo electrónico una vez que tu cuenta haya
                                sido verificada.
                              </p>
                            </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-6">
                          <ng-template ngbPanelTitle class="accordion-list">
                            <div>¿Qué métodos de pago aceptan?</div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body p-0">
                              <p class="mb-0">
                                Aceptamos varios métodos de pago, incluyendo
                                tarjetas de crédito, débito, transferencias
                                bancarias y pagos en línea a través de
                                plataformas seguras
                              </p>
                            </div>
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Faqs start -->
  <!-- <section class="section" id="faqs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <div class="small-title">FAQs</div>
            <h4>Frequently asked questions</h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="vertical-nav">
            <div class="row">
              <div class="col-lg-2 col-sm-4">
                <ul
                  ngbNav
                  #nav="ngbNav"
                  [activeId]="1"
                  class="nav-pills flex-column"
                >
                  <li [ngbNavItem]="1">
                    <a ngbNavLink>
                      <i class="bx bx-help-circle nav-icon d-block mb-2"></i>
                      <p class="fw-bold mb-0">General Questions</p>
                    </a>
                    <ng-template ngbNavContent>
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title mb-4">General Questions</h4>

                          <ngb-accordion
                            [closeOthers]="true"
                            activeIds="static-1"
                            class="custom-accordion"
                          >
                            <ngb-panel id="static-1">
                              <ng-template ngbPanelTitle class="accordion-list">
                                <div>What is Lazo ?</div>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="card-body p-0">
                                  <p class="mb-0">
                                    Robin is a virtual assistant designed and
                                    trained to follow an instruction in a prompt
                                    and provide a detailed response. Robin
                                    offers information in a clear and
                                    understandable way to individuals, teams or
                                    companies from different sectors. It is a
                                    chat platform that allows you to provide
                                    detailed information on specialized topics,
                                    complex processes, content, data and
                                    specific information.
                                  </p>
                                </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-2">
                              <ng-template ngbPanelTitle class="accordion-list">
                                <div>Why do we use it ?</div>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="card-body p-0">
                                  <p class="mb-0">
                                    Through this exchange of information, Robin
                                    will become an expert assistant in the
                                    subject area of your choice, providing
                                    advice and specialized knowledge in an
                                    accessible way at any time.
                                  </p>
                                </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-3">
                              <ng-template ngbPanelTitle class="accordion-list">
                                <div>How is it possible ?</div>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="card-body p-0">
                                  <p class="mb-0">
                                    Robin uses NLP techniques to understand and
                                    process human language. This allows you to
                                    analyze the instructions and questions
                                    provided by users and generate coherent and
                                    understandable responses.
                                  </p>
                                </div>
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
              <div class="col-lg-10">
                <div [ngbNavOutlet]="nav"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Faqs end -->

  <!-- Footer start -->
  <footer class="landing-footer footer-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4  col-sm-12 justify-content-center">
          <div class="row">
            <div class="col-md-12  col-sm-6 col-6 ">
              <div class="footer-logo">
                <img
                  src="assets/images/logos/logo.png"
                  alt=""

                  class="logo logo-dark img-fluid"
                />
              </div>
              <h2  class="description-title fw-bold  text-light  cursor-pointer">
                Lazo
              </h2>
              <p>Comercializadora de accesorios para mascota</p>
            </div>

            <div class="col-md-12 col-sm-6 col-6 ">
              <div class="col-12 d-flex flex-wrap">
                <div
                  class="col-md-2 d-flex justify-content-center align-items-center"
                >
                    <div class="mx-1">
                      <img
                        class="img-fluid rounded"
                        width="20"
                        src="assets/images/homepage/icons/ubi-light.png"
                        alt=""
                      />
                    </div>
                </div>
                <div class="col-10 my-1">
                  <h5 class="mb-1 footer-list-title small">Kr 13 #10-72  -  San Victorino</h5>
                  <h5 class=" footer-list-title small">Cl. 10 #16-17  -  Voto Nacional</h5>
                </div>
              </div>
              <div class="col-12 d-flex flex-wrap">
                <div
                  class="col-md-2 d-flex justify-content-center align-items-center"
                >
                    <div class="mx-1">
                      <img
                        class="img-fluid rounded"
                        width="20"
                        src="assets/images/homepage/icons/cell.png"
                        alt=""
                      />
                    </div>
                </div>
                <div class="col-10 my-1">
                  <h5 class="mb-1 footer-list-title small">+57 (321) 380-7861</h5>
                  <h5 class=" footer-list-title small">+57 (311) 291-0815</h5>
                </div>
              </div>
              <div class="col-12 d-flex flex-wrap align-content-around">
                <div
                  class="col-md-2 d-flex justify-content-center align-items-center"
                >
                    <div class="mx-1">
                      <img
                        class="img-fluid rounded"
                        width="20"
                        src="assets/images/homepage/icons/email-light.png"
                        alt=""
                      />
                    </div>
                </div>
                <div class="col-10  my-1">
                  <h5 class=" footer-list-title text-sm-start small " style="overflow-wrap: break-word;">servicioalcliente@lazomascotas.com</h5>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-4 col-sm-6 col-6 justify-content-center ">
          <div class="row">
            <div class="col-md-6">
              <h5 class="mb-3 footer-list-title">Tienda</h5>
              <ul class="list-unstyled footer-list-menu" *ngFor="let item of animalsCategories ">
                <li>
                  <a  rel="stylesheet"    [routerLink]="'products/portal'"
                  [queryParams]="{
                    categoryId: item?.id
                  }">{{item.title}}</a>
                </li>
            </ul>
            </div>
            <div class="col-md-6">
              <h5 class="mb-3 footer-list-title">Mayoristas</h5>
              <ul class="list-unstyled footer-list-menu">
                <li  *ngIf="!isLoggedIn" >
                  <a  rel="stylesheet"    [routerLink]="'wholesale-form'">Registrate</a>
                </li>
                <li  *ngIf="!isLoggedIn">
                  <a  rel="stylesheet"    [routerLink]="'account/auth/login-2'">Ingresar</a>
                </li>
                <li  *ngIf="isLoggedIn">
                  <a  rel="stylesheet"    [routerLink]="'products/portal'">Portal Mayoristas</a>
                </li>

                </ul>

            </div>
            <div class="col-md-6">
              <h5 class="mb-3 footer-list-title">Provedores</h5>
              <ul class="list-unstyled footer-list-menu">
                <li  *ngIf="!isLoggedIn" >
                  <a class="nav-link" routerLink="/vendor/form">Únete como proveedor</a>
                </li>

                </ul>

            </div>
          </div>


        </div>
        <div class="col-md-4 col-sm-6 col-6 justify-content-center ">
          <div class="col-12">
            <h5 class="mb-3 footer-list-title">Carrito</h5>
            <ul class="list-unstyled footer-list-menu">
              <li   >
                <a class="nav-link" routerLink="/products/orders">Comprar Ahora</a>
              </li>

              </ul>
          </div>

          <div >
            <img
              src="assets/images/homepage/icons/pagos.png"
              alt=""

              class="logo logo-dark img-fluid"
            />
          </div>


        </div>



      </div>
      <!-- end row -->

      <hr class="footer-border my-5" />
<div class="row justify-content-end align-items-end">
  <div class="col-md-6  d-flex justify-content-center d-lg-flex ">

      <h4 class="footer-list-title">Encuéntranos en:</h4>

    <div class=" d-flex  ms-1">
      <div class="d-flex justify-content-center align-items-center mx-1">
        <a href="https://www.instagram.com/lazomascotas?igsh=MTM0Z2UxZW92cmNudw%3D%3D&utm_source=qr"target="_blank" rel="noopener noreferrer">
          <img
          class="img-fluid rounded"
          width="30"
          src="assets/images/homepage/icons/instagram.png"
          alt="Instagram"
        />
        </a>

      </div>
      <div class="d-flex justify-content-center align-items-center mx-1">
        <a href="https://www.facebook.com/share/1sDVs7X5kspEAM9C/?mibextid=LQQJ4d" target="_blank" rel="noopener noreferrer">
          <img
          class="img-fluid rounded"
          width="30"

          src="assets/images/homepage/icons/meta.png"
          alt="Meta"
        />
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center mx-1">
        <a  href="https://www.tiktok.com/@lazomascotas?_t=8nrIHU1aO98&_r=1" target="_blank" rel="noopener noreferrer">
          <img
          class="img-fluid rounded"
          width="30"
          src="assets/images/homepage/icons/tiktok.png"
          alt="TikTok"
        />
        </a>

      </div>
    </div>
  </div>
</div>


      <div class="row">
        <div class="col-lg-6">
          <p class="mb-2">{{ year }} © Lazo.</p>
          <p>
            Un Lazo con tu mascota.
Descubre nuestra línea exclusiva de productos para tu fiel compañero.
          </p>
        </div>
      </div>
    </div>
    <!-- end container -->
  </footer>
  <!-- Footer end -->
</div>
