<nav
  class="navbar navbar-expand-lg navigation d-block p-0 border-0 fixed-top sticky"
  (window:scroll)="windowScroll()"
  id="navbar"
>
  <div class="container">
    <a class="navbar-logo" routerLink="/">
      <img
        src="assets/images/logos/hotelLogo.png"
        alt=""
        height="70"
        class="logo logo-dark"
      />
      <img
        src="assets/images/logos/hotelLogo.png"
        alt=""
        height="70"
        class="logo logo-light"
      />
    </a>

    <button
      type="button"
      class="btn btn-sm px-3 font-size-16 d-lg-none header-item"
      data-toggle="collapse"
      data-target="#topnav-menu-content"
      (click)="toggleMenu()"
    >
      <i class="fa fa-fw fa-bars"></i>
    </button>

    <!-- Icons next to the toggle button for small screens -->
    <div class="d-flex align-items-center d-lg-none ms-auto">
      <div class="d-flex align-items-center">
        <div class="dropdown d-inline-block" ngbDropdown>
          <button
            routerLink="/products/orders"
            type="button"
            class="btn header-item noti-icon position-relative"
          >
            <i class="bx bx-cart"></i>
            <span class="badge bg-danger rounded-pill">{{ countCart }}</span>
          </button>
        </div>
        <div class="d-flex" *ngIf="!isLoggedIn; else accountMenuSmall">
          <a
            class="me-2 mt-2 text-decoration-underline text-primary"
            routerLink="/account/auth/signup-2"
          >
            Registro
          </a>
          <button
            routerLink="/account/auth/login-2"
            class="btn bg-primary text-white b-width"
          >
            <span class="d-none d-md-inline">Inicio de Sesión</span>
            <span class="d-inline d-md-none">Inicio</span>
          </button>
        </div>
        <ng-template #accountMenuSmall>
          <app-page-header-user-dropdown
            [landing]="true"
          ></app-page-header-user-dropdown>
        </ng-template>
      </div>


    </div>

    <div class="collapse navbar-collapse" id="topnav-menu-content">
      <ul class="navbar-nav ms-auto" id="topnav-menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/portal">Suites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotels/portal">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/meta/reviews">Reseñas</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="javascript: void(0);"
            [ngxScrollTo]="'contactanos'"
            [ngClass]="{ active: currentSection === 'contactanos' }"
            >About us</a
          >
        </li>
      </ul>
    </div>

    <!-- Icons for larger screens -->

    <div class="d-none d-lg-flex align-items-center ms-auto">
      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          routerLink="/products/orders"
          type="button"
          class="btn header-item noti-icon position-relative"
        >
          <i class="bx bx-cart"></i>
          <span class="badge bg-danger rounded-pill">{{ countCart }}</span>
        </button>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex" *ngIf="!isLoggedIn; else accountMenu">
          <a
            class="me-4 mt-2 text-decoration-underline text-primary"
            routerLink="/account/auth/signup-2"
          >
            Registro
          </a>
          <button
            routerLink="/account/auth/login-2"
            class="btn bg-primary text-white b-width"
          >
            <span class="d-none d-md-inline">Inicio de Sesión</span>
            <span class="d-inline d-md-none">Inicio</span>
          </button>
        </div>

        <ng-template #accountMenu>
          <app-page-header-user-dropdown
            [landing]="true"
          ></app-page-header-user-dropdown>
        </ng-template>
      </div>


    </div>
  </div>
  <div
    class="w-100 bg-primary text-center py-2"
    *ngIf="
      roleNames.includes('WHOLESALE_USER') &&
      authService?.authService?.model?.wholesaleUsers?.isApproved
    "
  >
    <h5 class="text-white font-weight-bold m-0">Portal Mayorista</h5>
  </div>
</nav>


<div>
  <section class="section hero-section bg-ico-hero bg-dark-color" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="text-white-50">
            <h1 class="text-white fw-semibold mb-3 hero-title">
              Luxury Resorts
            </h1>
            <p class="text-white mt-4 main-sub-title">
              Major suites
            </p>

            <div class="button-items mt-5 d-flex gap-2">
              <button
                routerLink="/products/portal"
                class="btn btn-rounded btn-primary mx-1 text-white fw-bold"
              >
                <i
                  class="bx bx-planet"
                  style="font-size: 1.3em"
                ></i
                ><span class="ms-2">Explore</span>
              </button>
              <button
                (click)="redirectToExternalAuth('google')"
                class="btn btn-rounded btn-light bg-white mx-1 fw-bold google-btn"
              >
              <i
                  class="bx bx-hotel"
                  style="font-size: 1.3em"
                ></i
                >
                <span class="ms-2 text-black">Our hotels</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
</div>


<div
  appScrollspy
  [spiedTags]="['SECTION']"
  (sectionChange)="onSectionChange($event)"
>


  <section class="section pt-4 pb-3 bg-white" id="features">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title responsive-titles fw-bold text-primary">
              Una conexion perfecta con tu comfort
            </h1>
            <h5 class="mt-3">
              Descubre nuestra línea exclusiva de suites.
            </h5>
            <a
              [routerLink]="'products/portal'"
              class="btn btn-rounded mt-3 bg-primary text-white fs-5"
              >Ver todos los productos</a
            >
          </div>
        </div>
      </div>
      <app-categories-list-page></app-categories-list-page>
    </div>
  </section>



  <section class="section pt-4 bg-white"     id="tienda">
    <div class="container">
      <div class="row mt-0">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title responsive-titles fw-bold text-primary">
              Suites Destacadas
            </h1>
            <h5 class="mt-3">
              Descubre las suites más populares, elegidos por su calidad y preferencia<br /> de nuestros clientes.
            </h5>
            <a
              [routerLink]="'products/portal'"
              class="btn btn-rounded mt-3 bg-primary text-white fs-5"
              >Ver Todos los Favoritos</a
            >
          </div>
        </div>
      </div>
      <app-pin-products-list-page></app-pin-products-list-page>
    </div>
  </section>


  <section class="section pt-5 pb-4 bg-white" id="contactanos">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1 class="description-title responsive-titles fw-bold text-primary">Nuestra sede principal</h1>
            <h5 class="mt-3">
              Estamos aquí para ayudarte. Visítanos o llámanos, nuestro equipo está listo para responder tus preguntas y ofrecerte la mejor atención.
            </h5>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="p-3">
            <google-map
              #map
              width="100%"
              height="320"
              [center]="center"
              [zoom]="15"
              (zoomChanged)="zoomChanged(map.getZoom())"
            >
              <ng-container *ngIf="zoomLevel !== undefined">
                <map-marker
                  *ngFor="let marker of markers1"
                  #markerId="mapMarker"
                  [position]="marker"
                  [options]="markerOptions"
                >
                </map-marker>
              </ng-container>
            </google-map>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-4 bg-white" id="reviews">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mb-5">
            <h1
              routerLink="/meta/reviews"
              class="description-title responsive-titles fw-bold text-primary cursor-pointer"
            >
              Testimonios
            </h1>
          </div>
        </div>

        <app-reviews-list-page></app-reviews-list-page>
      </div>
    </div>
  </section>




  <!-- Footer start -->
  <footer class="landing-footer footer-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4  col-sm-12 justify-content-center">
          <div class="row">
            <div class="col-md-12  col-sm-6 col-6 ">
              <div class="footer-logo">
                <img
                  src="assets/images/logos/logo.png"
                  alt=""

                  class="logo logo-dark img-fluid"
                />
              </div>
              <h2  class="description-title fw-bold  text-light  cursor-pointer">
                Hotels
              </h2>
              <p>Luxury suites</p>
            </div>

            <div class="col-md-12 col-sm-6 col-6 ">
              <div class="col-12 d-flex flex-wrap">
                <div
                  class="col-md-2 d-flex justify-content-center align-items-center"
                >
                    <div class="mx-1">
                      <img
                        class="img-fluid rounded"
                        width="20"
                        src="assets/images/homepage/icons/ubi-light.png"
                        alt=""
                      />
                    </div>
                </div>
                <div class="col-10 my-1">
                  <h5 class="mb-1 footer-list-title small">Kr 13 #10-72  -  San Victorino</h5>
                  <h5 class=" footer-list-title small">Cl. 10 #16-17  -  Voto Nacional</h5>
                </div>
              </div>
              <div class="col-12 d-flex flex-wrap">
                <div
                  class="col-md-2 d-flex justify-content-center align-items-center"
                >
                    <div class="mx-1">
                      <img
                        class="img-fluid rounded"
                        width="20"
                        src="assets/images/homepage/icons/cell.png"
                        alt=""
                      />
                    </div>
                </div>
                <div class="col-10 my-1">
                  <h5 class="mb-1 footer-list-title small">+57 (456) 454534343</h5>
                  <h5 class=" footer-list-title small">+57 (678) 3454545</h5>
                </div>
              </div>
              <div class="col-12 d-flex flex-wrap align-content-around">
                <div
                  class="col-md-2 d-flex justify-content-center align-items-center"
                >
                    <div class="mx-1">
                      <img
                        class="img-fluid rounded"
                        width="20"
                        src="assets/images/homepage/icons/email-light.png"
                        alt=""
                      />
                    </div>
                </div>
                <div class="col-10  my-1">
                  <h5 class=" footer-list-title text-sm-start small " style="overflow-wrap: break-word;">example@support.com</h5>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
      <!-- end row -->

      <hr class="footer-border my-5" />
<div class="row justify-content-end align-items-end">
  <div class="col-md-6  d-flex justify-content-center d-lg-flex ">

      <h4 class="footer-list-title">Encuéntranos en:</h4>

    <div class=" d-flex  ms-1">
      <div class="d-flex justify-content-center align-items-center mx-1">
        <a href="#"target="_blank" rel="noopener noreferrer">
          <img
          class="img-fluid rounded"
          width="30"
          src="assets/images/homepage/icons/instagram.png"
          alt="Instagram"
        />
        </a>

      </div>
      <div class="d-flex justify-content-center align-items-center mx-1">
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img
          class="img-fluid rounded"
          width="30"

          src="assets/images/homepage/icons/meta.png"
          alt="Meta"
        />
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center mx-1">
        <a  href="#" target="_blank" rel="noopener noreferrer">
          <img
          class="img-fluid rounded"
          width="30"
          src="assets/images/homepage/icons/tiktok.png"
          alt="TikTok"
        />
        </a>

      </div>
    </div>
  </div>
</div>


      <div class="row">
        <div class="col-lg-6">
          <p class="mb-2">{{ year }} © Hotels.</p>
          <p>
            Una expereincia inolvidable.
Descubre nuestra línea exclusiva de suites.
          </p>
        </div>
      </div>
    </div>
    <!-- end container -->
  </footer>
  <!-- Footer end -->
</div>
