@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "src/assets/scss/variables";

.main-cards-bg {
  background-color: #f3f5fe;
}

.dark-titles-color {
  color: #000842;
}

.vector-ms {
  margin-left: -5rem;
  margin-right: -5rem;
}

.custom-col {
  width: 3%;
}

.provider-text-color {
  color: #2f001e !important;
}


.hero-section-prov {
  padding-top: 80px;
  padding-bottom: 50px;

  &.bg-ico-hero-prov{
      background-image: url("../../../../assets/images/homepage/section-bg.png");
      background-size: cover;
      background-position: top;
  }

  @media (max-width: 575.98px) {
      padding-top: 140px;
      padding-bottom: 80px;
  }
}


.dog-faqs {
  @media (max-width: 767px) {
    display: none !important;
  }
}


.faqs-content {
  @media (max-width: 767px) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
  }
}

.provider-custom-padding {
  @media (max-width: 767px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


.hero-section-faqs {
  padding-top: 80px;
  padding-bottom: 0px !important;

  &.bg-ico-hero-faqs{
      background-image: url("../../../../assets/images/homepage/faqs-section-bg.png");
      background-size: cover;
      background-position: top;
  }

  @media (max-width: 575.98px) {
      padding-top: 140px;
      padding-bottom: 0px !important;
  }
}



.cursor-pointer {
  cursor: pointer !important;
}

.d-xs-none {
  @media (max-width: 991px){
    display: none !important;
  }
}

.text-xs-center {
  @media (max-width: 991px){
    text-align: center !important;
  }
}

.main-cards-mt {
  margin-top: 10em;
}

.red-feature {
  background-color: #f6d1e0;
  border: 2.5px solid #f86d8a;
  border-radius: 12px !important;
  width: 130%;
  z-index: 100;
  @media (max-width: 991px){
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.green-feature {
  background-color: #b7edf2;
  border: 2.5px solid #0bd4cf;
  border-radius: 12px !important;
  width: 130%;
  z-index: 100;
  right: 180px;
  @media (max-width: 991px){
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    right: 0 !important;
  }
}

.purple-feature {
  background-color: #e4d1f6;
  border: 2.5px solid #a26df8;
  border-radius: 12px !important;
  width: 130%;
  z-index: 100;
  @media (max-width: 991px){
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.blue-feature {
  background-color: #b8e0f5;
  border: 2.5px solid #0ba5f2;
  border-radius: 12px !important;
  width: 130%;
  z-index: 100;
  right: 210px;
  @media (max-width: 991px){
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    right: 0 !important;
  }
}

.vector-explore-section {
  right: 1px;
  width: 9em;
}

.b-width
{
  min-width: 90px;
}

.bg-dark-color {
  background-color: #0c1323 !important;
}

.rainbow-text {
  background-image: linear-gradient(to left, #ce2471f0, indigo, rgba(39, 105, 246, 0.959), #16e3e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-fs {
  font-size: 18px !important;
}

.icon-wrapper {
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid #dee2e7;
  box-shadow: 0 3px 13px -4px #dee2e7;
  i {
    font-size: 1.8em
  }
}

.description-title {
  font-size: 48px !important;
  color: #000842;
}


.responsive-titles {
  @media (max-width: 500px) {
    font-size: 2.3rem !important;
  }
}


.responsive-margin-items {
  @media (max-width: 500px) {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}


.description-subtitle {
  font-size: 28px !important;
  color: #000842;
}

.google-btn {
  box-shadow: 0 3px 13px -4px #ff00ea;
}

.mt-custom-sm {
  @media (max-width: 992px){
    margin-top: 40px !important;
  }
}
