<div class="card h-100 mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="card-title mb-4">{{ title }}</h4>
      </div>
      <div class="col-sm-6 text-end">
        {{ mainData.totalSales }} ventas <br />
        <!-- <i
          class="bx bxs-download font-size-24 text-primary cursor-pointer"
          (click)="onDownload()"></i> -->
      </div>
    </div>

    <div class="row">
      <div class="col">
        <apx-chart
          [series]="options.series"
          [chart]="options.chart"
          [xaxis]="options.xaxis"
          [stroke]="options.stroke"
          [tooltip]="options.tooltip"
          [dataLabels]="options.dataLabels">
        </apx-chart>
      </div>
    </div>
</div>
