.selected-border {
  border-color: rgb(0, 255, 21) !important;
  padding: 2px;
}


.more-media-icon {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.38rem;
  padding-bottom: 0.38rem;
}
