<div class="container py-4 mt-4 ">
  <div class="row text-dark justify-content-center">
    <div class="container mt-5">
      <!-- Título -->
      <h1 class="text-center">Términos y Condiciones Generales de Lazo</h1>
      <hr>

      <!-- 1. Propiedad del Portal -->
      <h2>1. Propiedad del Portal</h2>
      <p>Estos términos y condiciones de uso (los “Términos y Condiciones”) aplican al sitio web disponible en
          Lazo.com.co y a la aplicación móvil de Lazo (conjuntamente, el “Portal”) los cuales son de propiedad de
          Proyecto E S.A.S. (“Proyecto E”), identificada con NIT 901110407 – 4, Dirección de notificación judicial:
          Cra 68G No. 74B - 56, Bogotá DC, Teléfono: 300 9108496 y correo electrónico solo para notificación
          judicial: contabilidad@Lazo.com.co.</p>

      <!-- 2. Aceptación de estos Términos y Condiciones -->
      <h2>2. Aceptación de estos Términos y Condiciones</h2>
      <p>Al hacer uso del Portal, el usuario (el “Usuario”) acepta expresamente estos Términos y Condiciones y
          declara y garantiza haberlos leído y entendido en su totalidad. En caso de que cualquier persona no esté
          de acuerdo con estos Términos y Condiciones, esta deberá abstenerse de usar el Portal.</p>

      <!-- 3. Modificaciones a estos Términos y Condiciones -->
      <h2>3. Modificaciones a estos Términos y Condiciones</h2>
      <p>(a) Proyecto E se reserva el derecho de modificar de forma unilateral estos Términos y Condiciones, en un
          todo o en parte, en cualquier momento y sin previo aviso, haciendo público en el Portal los términos
          modificados. Podrán ser modificados también de la misma manera el diseño, la presentación o configuración,
          los requisitos de registro o utilización del Portal, sin que ello genere derecho a reclamo o indemnización
          alguna a favor del Usuario.</p>

          <p>(b) Es responsabilidad del Usuario revisar periódicamente los Términos y Condiciones. El uso continuo que
            haga del Portal luego de haberse realizado cambios en estos Términos y Condiciones significará que el
            Usuario acepta esos cambios.</p>

        <h2>4. Contenido</h2>
        <p>(a) Todo el contenido incluido o puesto a disposición del Usuario en el Portal, incluyendo textos, gráficas,
            logos, íconos, imágenes, archivos de audio, descargas digitales, emblemas comerciales, código fuente y
            cualquier otra información (el “Contenido”), es de propiedad de Proyecto E, o ha sido licenciada a ésta por
            los terceros que tienen el derecho y capacidad para hacerlo.</p>
        <p>(b) El Contenido no puede ser copiado, reproducido, posteado, transmitido, republicado, trasladado o
            distribuido de ninguna manera a otro computador, servidor, o cualquier otro medio sin el consentimiento
            previo y expreso de Proyecto E.</p>


            <h2>5. Usos No Permitidos en el Portal</h2>
        <p>(a) Las siguientes actividades están prohibidas en el Portal:</p>
        <ul>
            <li>(i) Anidar páginas del Portal dentro de “frames” de sitios externos.</li>
            <li>(ii) Utilizar “spiders”, “site copiers” o cualquier otro dispositivo, programa, algoritmo o método
                para acceder, adquirir, copiar o monitorear cualquier parte o contenido del Portal.</li>
            <li>(iii) Intentar obtener acceso privilegiado a cualquier parte del Portal, servidores o redes mediante
                “hacking”, “password mining” o cualquier método.</li>
            <li>(iv) Revisar o escanear el Portal, servidores o redes de Proyecto E, en busca vulnerabilidades de
                seguridad.</li>
            <li>(v) Hacer “look-up”, “trace” o “sniffer” a la información transmitida desde o hacia cualquier Usuario.
            </li>
            <li>(vi) Hacer intentos desproporcionados de utilización del Portal, los servidores o las redes de Proyecto
                E que puedan derivar en la negación del servicio.</li>
            <li>(vii) Utilizar cualquier dispositivo, software o rutina para interferir con el adecuado funcionamiento
                del Portal sus transacciones.</li>
            <li>(viii) Intentar manipular cualquier información transmitida hacia o desde el Portal para suplantar a otra
                persona o a Proyecto E.</li>
            <li>(ix) Utilizar el Portal para fines o efectos ilícitos, lesivos de los derechos e intereses de terceros o
                que vayan en contra de estos Términos y Condiciones, así como la moral, las buenas costumbres
                generalmente aceptadas y el orden público.</li>
        </ul>
        <p>(b) Proyecto E se reserva el derecho de restringir unilateralmente el acceso de cualquier Usuario al Portal
            en caso de detectar o sospechar cualquier uso no permitido del Portal. Proyecto E podrá iniciar acciones
            legales de cualquier naturaleza en contra de los Usuarios que hagan algún uso no permitido del Portal.</p>

        <h2>6. Limitación de Responsabilidad</h2>
        <p>(a) El Usuario acepta y reconoce que Proyecto E no se hace responsable por los riesgos a los que se encuentra
            expuesta su infraestructura tecnológica y el Portal. Esta exención de responsabilidad se extiende entre
            otras materias incluyendo, sin limitarse, a los riesgos tecnológicos derivados de errores lógicos en los
            aplicativos, paradojas derivadas de su integración, huecos, gusanos o virus, sabotajes en los soportes
            lógicos, bases de datos, y otros delitos informáticos. Al hacer uso del Portal el Usuario acepta
            irrevocablemente y exonera a Proyecto E de cualquier responsabilidad derivada de estos hechos.</p>
        <p>(b) Proyecto E se reserva el derecho de realizar en cualquier momento, sin previo aviso, por cualquier motivo
            y sin que ello derive en derecho a compensación, actividades de mantenimiento, correcciones o cambios en el
            Portal que incluyen:</p>
        <ul>
            <li>(i) Modificar o cambiar el Portal, o una parte del mismo.</li>
            <li>(ii) Interrumpir la operación del Portal, de forma programada o no.</li>
            <li>(iii) Suspender o terminar la operación o el acceso al Portal, o una parte del mismo.</li>
        </ul>
        <h2>7. Capacidad Legal</h2>
        <p>El Portal sólo está disponible para personas que tengan capacidad legal para contratar de conformidad con
            las leyes aplicables de la República de Colombia. No podrán utilizar el Portal las personas que no tengan
            esa capacidad y los menores de edad. Los actos que los incapaces o menores de edad realicen en este Portal
            serán responsabilidad de sus padres, tutores, encargados o curadores, y por tanto se considerarán realizados
            por éstos en ejercicio de la representación legal con la que cuentan.</p>

        <h2>8. Registro y Uso del Portal</h2>
        <p>El usuario puede abrir una cuenta con sus datos y para ello deberá completar el formulario de registro con
            todos los datos legales requeridos para poderle expedir su factura de venta de acuerdo con la legislación
            colombiana. En caso de abrir una cuenta, el usuario se convierte en Usuario autorizado del Portal (el
            “Miembro” Proyecto E o el “Usuario”), lo que le permite acceder a las promociones, y para la adquisición
            futura de productos y/o servicios ofrecidos en este Portal.</p>
        <p>Proyecto E podrá utilizar diversos medios para identificar a sus Miembros, pero Proyecto E NO se responsabiliza
            por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios garantizan y responden, en
            cualquier caso, de la exactitud, veracidad, vigencia y autenticidad de los Datos Personales ingresados.</p>
        
            <h2>9. Productos y/o Servicios</h2>
            <p>El Portal ofrece a sus Usuarios principalmente productos y servicios destinados a las mascotas.</p>
    
            <h3>9.1 Visualización de productos</h3>
            <p>El Portal exhibe las imágenes de productos con la mayor nitidez y precisión posible. No obstante, la
                visualización del color y calidad de los productos dependerá de la pantalla desde la cual se acceda al
                Portal.</p>
            <p>En caso de que el Usuario requiera que el producto sea de un color específico, deberá anticipadamente
                recurrir a los canales de atención de Proyecto E con el objetivo de conocer el verdadero color del objeto
                o empaque. Sin embargo, Proyecto E se compromete a actualizar las imágenes, con la mayor diligencia
                posible.</p>
    
            <h3>9.2 Disponibilidad de productos</h3>
            <p>Proyecto E se encarga de la constante actualización del Portal, así como la revisión constante de los
                productos y/o servicios que se exhiben en el mismo. No obstante, el Portal puede modificar y descontinuar
                los productos y/o servicios en cualquier momento sin contraer ninguna responsabilidad frente a los
                Usuarios.</p>
            <p>En caso de que los productos de las imágenes de referencia no estén disponibles o que haya un cambio de las
                características del mismo, Proyecto E se obliga a informar al Usuario y a actualizar el Portal en caso
                de que ello ocurra.</p>
    
           
            <h3>9.3 Errores tipográficos</h3>
            <p>De existir un error tipográfico en alguno de los precios mostrados y si el Usuario tomó una decisión de
                compra basada en dicho error, Proyecto E le comunicará al Usuario dicho error y procederá a realizar el
                ajuste en el Portal.</p>

                <h3>9.4 Limitación de cantidades y restricción de pedidos</h3>
                <p>Proyecto E puede, a su exclusivo criterio, limitar o cancelar las cantidades compradas por un Usuario. Así
                    mismo, Proyecto E se reserva el derecho de rechazar todo pedido que el Usuario realice. Dichas
                    restricciones pueden incluir pedidos realizados a partir de la misma cuenta inscrita en el Portal, pagos
                    realizados con la misma tarjeta de crédito y/o débito y pedidos con la misma dirección de envío o de
                    facturación.</p>
                <p>De manera expresa se establece que los pedidos que se realicen sobre insumos como alimentos, medicamentos y
                    otros, solo permitirá que por cada Usuario se realice un pedido de máximo de 100 kg por día.</p>
        
        

                    <h3>9.5 Envío de productos</h3>
                    <p>Los productos adquiridos a través del Portal se sujetarán a las condiciones de despacho y entrega elegidas
                        por el Usuario y disponibles en el Portal. La información del lugar de envío es de exclusiva responsabilidad
                        del Usuario.</p>
                    <p>Los plazos elegidos para el despacho y entrega, se cuentan desde que Proyecto E haya validado la orden de
                        compra y el medio de pago utilizado, y se consideran días hábiles para el cumplimiento de dicho plazo.</p>
                    <p>Proyecto E comunicará por correo electrónico a los Usuarios los datos para que pueda realizar el seguimiento
                        del estado del pedido por internet, así como el tiempo de entrega estimado, el cual variará dependiendo de
                        la distancia y factores externos a Proyecto E.</p>
            
                    <h3>9.6 Cargos por envío e impuestos</h3>
                    <p>El Usuario será responsable de los cargos de envío, manejo y seguro de los productos y/o servicios que
                        adquiera en el Portal, así como del impuesto sobre la venta, impuestos al valor agregado y demás gravámenes
                        que se ocasionen por cada oferta de compra aceptada.</p>
                    <p>Todos los impuestos causados por la compra serán liquidados desde el momento en que el Usuario realice su
                        compra en el Portal, y por lo tanto podrá conocer el valor exacto que debe pagar a favor, el cual incluirá
                        todos los conceptos mencionados.</p>

                        
        <h3>10. Entrega de los productos</h3>
        <p>Proyecto E se compromete a realizar entregas dentro del territorio colombiano, siempre y cuando se encuentre
            dentro de las zonas y lugares a los que tenga acceso de acuerdo con su red. Consiguientemente, podrá negarse
            a la aceptación de una oferta de compra cuando el domicilio registrado por el Usuario para realizar la
            entrega, no se encuentre dentro de las zonas geográficas habilitadas para tal efecto.</p>
        <p>Una vez se realice el pedido, el Usuario recibirá un código de seguimiento, con el propósito de rastrear el
            envío.</p>
        <!-- Más contenido aquí -->

        <!-- 10.1 Envíos nacionales -->
        <h4>10.1 Envíos nacionales</h4>
        <p>Para envíos nacionales, la transportadora realizará la entrega de la compra en la dirección indicada por el
            cliente para tal fin.</p>

            <h3>11. Condiciones de pago</h3>
            <p>El precio que se deberá pagar por cada artículo adquirido será el precio vigente en el Portal al momento de
                hacerse el pedido.</p>
            <p>Antes de la aceptación por parte de Proyecto E de cualquier pedido, el Usuario deberá elegir las condiciones
                de pago según los medios de pago que se encuentren establecidos en el Portal.</p>
            <!-- Más contenido aquí -->
    
            <!-- 11.1 Facturación al usuario -->
            <h4>11.1 Facturación al usuario</h4>
            <p>El usuario autoriza expresamente a que la facturación de los productos que sean comprados por el Portal, sea
                una factura física o electrónica, expedida de acuerdo con las regulaciones colombianas, la cual le llegará a
                su correo físico o electrónico registrado, según sea el caso.</p>

                <h3>11.2 Reversión del pago</h3>
                <p>De acuerdo con el Decreto 587 de 2016, la reversión del pago en la venta de productos procederá cuando la
                    venta se realice a través de mecanismos de comercio electrónico como: internet, PSE, entre otros y,
                    además, el pago se haya realizado por medio de una tarjeta de crédito, débito o cualquier otro instrumento
                    de pago electrónico.</p>
                <!-- Más contenido aquí -->
        
                <!-- Detalles de la solicitud de reversión -->
                <h4>Detalles de la solicitud de reversión</h4>
                <ul>
                    <li>Manifestación expresa de las razones que fundamentan la solicitud de reversión del pago.</li>
                    <li>Indicación de la causal que sustenta la petición, que deberá corresponder a alguna de las cinco (5)
                        señaladas anteriormente.</li>
                    <li>Valor por el que se solicita la reversión.</li>
                    <li>Identificación de la cuenta bancaria (incluir titular de la cuenta bancaria, número de cuenta y tipo de
                        cuenta) o instrumento de pago al que fue cargada la operación.</li>
                    <li>Datos de contacto en los cuales quiere ser contactado por el Portal para realizar el proceso de reversión
                        y notificar el resultado de la solicitud.</li>
                </ul>
                <h3>11.2 Reversión del pago</h3>
                <!-- Contenido de la sección 11.2 -->
                <p>Luego de realizar la solicitud, se le asignará un asesor de servicio. Desde el momento de la asignación, el
                    asesor tendrá 72 horas para dar respuesta oportuna al Usuario respecto a la solicitud de reversión del
                    pago.</p>
                <!-- Más contenido aquí -->
        
                <!-- Sección 12.1 Derecho de Retracto -->
                <h3>12. Políticas de devolución y garantía</h3>
                <h4>12.1 Derecho de Retracto</h4>
                <!-- Contenido de la sección 12.1 -->
                <p>El Portal, así como aquellos terceros que proveen productos a Proyecto E, ofrecen a sus Usuarios la
                    posibilidad de retractarse de la compra, hecha por medios no tradicionales, durante los primeros 5 días
                    hábiles después de la entrega del producto.</p>

                     <!-- Sección 12.1.1 Condiciones Generales para un Retracto -->
        <h4>12.1.1 Condiciones Generales para un Retracto</h4>
        <!-- Contenido de la sección 12.1.1 -->
        <ul>
            <li>El producto no debe estar averiado o deteriorado por acciones correspondientes a los Usuarios.</li>
            <li>El producto debe tener etiquetas, accesorios y empaques originales (incluyendo manuales, guías de uso,
                certificados de garantía, etc.).</li>
            <li>El producto no debe mostrar señales de uso, suciedad o desgaste.</li>
            <li>El producto no debe tener más de CINCO (5) días hábiles de entregado.</li>
            <li>El producto adquirido no debe ser perecedero, diseñado a la medida, de uso personal o íntimo.</li>
        </ul>
        <!-- Más contenido aquí -->

        <!-- Sección 12.1.2 Condiciones de Logística del Retracto -->
        <h4>12.1.2 Condiciones de Logística del Retracto</h4>
        <!-- Contenido de la sección 12.1.2 -->
        <ul>
            <li>Por regla general el Usuario debe acercarse a un punto de la empresa de envíos con la guía enviada por
                Proyecto E para proceder a devolver el producto.</li>
            <li>Cuando el producto supere 10 kg su recolección será realizada directamente en el lugar en donde el
                producto se entregó.</li>
            <li>El personal encargado de la recolección del producto no se encuentra facultado para desarmar ni
                manipular el producto, su única función será la de recogerlo.</li>
            <li>Si el producto no se encuentra empacado en su empaque original, no se procederá con la recolección.
            </li>
        </ul>
        <!-- Más contenido aquí -->

        <!-- Sección 12.1.3 Condiciones de Reembolso del Retracto -->
        <h4>12.1.3 Condiciones de Reembolso del Retracto</h4>
        <!-- Contenido de la sección 12.1.3 -->
        <p>Si el producto fue pagado con tarjeta de crédito y el método de reembolso elegido por el consumidor es
            reversión a su tarjeta de crédito, se reembolsará el dinero en la tarjeta utilizada dentro de los quince
            (15) a treinta (30) días calendario después que Proyecto E acepte el retracto.</p>
        <!-- Más contenido aquí -->

        <!-- Sección 12.1.4 Condiciones de Reclamación por Producto Errado -->
        <h4>12.1.4 Condiciones de Reclamación por Producto Errado</h4>
        <!-- Contenido de la sección 12.1.4 -->
        <p>En caso de que el Usuario reciba un producto de características diferentes a lo descrito en el Portal en el
            momento de la compra, se deberá llevar a cabo el siguiente procedimiento con el fin de verificar la
            validez de la reclamación.</p>

            <h4>12.1.5 Condiciones de Reclamación por Pieza Faltante</h4>
            <!-- Contenido de la sección 12.1.5 -->
            <ul>
                <li>Dentro de los dos días hábiles luego de haber recibido el producto, el Usuario deberá comunicarse con la
                    línea de Servicio al Cliente para radicar la reclamación sobre la pieza faltante de su artículo.</li>
                <li>Una vez el área de Servicio al Cliente reciba la reclamación y sean corroborados los datos, en el
                    término de dos días hábiles se procederá a dar una respuesta al cliente. Dependiente el caso, se
                    enviará la pieza faltante o se solicitará al Usuario que inicie el proceso de devolución a través de
                    nuestras líneas de comunicación.</li>
                <li>Si el Usuario no radica la reclamación podrá aplicar al derecho de retracto a través de la página,
                    ateniéndose a los descrito por esta política.</li>
            </ul>
            <!-- Más contenido aquí -->
    
            <!-- Sección 12.2 Política de garantías -->
            <h4>12.2 Política de garantías</h4>
            <!-- Contenido de la sección 12.2 -->
            <p>En caso de que un producto adquirido a través de Proyecto E presente problemas de funcionamiento, daños o se
                encuentre vencido (según aplique) después de su recepción, el Usuario podrá contactar a Proyecto E quien
                proporcionará los datos del vendedor o proveedor para que éste le brinde un soporte adecuado a su solicitud
                de garantía, o de ser posible Proyecto E la brindará de manera directa. Todas las solicitudes de garantías
                deben cumplir con las siguientes condiciones:</p>
            <!-- Más contenido aquí -->
    
            <!-- Lista de condiciones -->
            <ol>
                <li>La garantía del producto debe estar vigente.</li>
                <li>El producto debe contar con los documentos de garantía cuando sea el caso. En caso en que el producto no
                    tenga un documento que certifique un período de garantía éste debe tener menos de 12 meses de entregado.
                </li>
                <ul>
                    <li>Según la ley colombiana para proceder con una garantía por productos perecederos el mismo no debe
                        estar vencido.</li>
                </ul>
                <!-- Más elementos de lista aquí -->
            </ol>

            <h4>13. Reembolsos</h4>
            <!-- Contenido de la sección 13 -->
            <p>Después que el reembolso sea aprobado, el Usuario puede elegir entre estos métodos:</p>
            <ul>
                <li>Consignación bancaria: Para recibir el dinero en la cuenta bancaria, el titular de la cuenta debe ser el
                    mismo que hizo la compra en Proyecto E, en caso de que no lo sea, le serán enviados los documentos
                    necesarios para realizar la consignación en una cuenta diferente. La duración del reembolso es de siete
                    (7) a ocho (8) días hábiles. Adicional a esto el banco puede demorarse unos días, más los cuales
                    dependerán de cada entidad.</li>
                <li>Reversión a tarjeta de crédito: Proyecto E responderá a la solicitud de reembolso en un término de
                    quince (15) días hábiles. A partir de la confirmación de la solicitud, la entidad bancaria realizará
                    la reversión de pago, para lo cual el Usuario deberá sujetarse a los términos de duración en los que
                    se realice este proceso por parte del banco. La duración del reembolso es de máximo treinta (30) días
                    calendario.</li>
            </ul>
            <!-- Más contenido aquí -->
    
      
          

  </div>
  </div>
