<div class="container-fluid" style="max-width: 96%">
  <div class="row">
    <div class="col-12">
      <div class="row mb-3">
        <div class="col-3">
          <h3>Pasajeros</h3>
        </div>
        <div class="col-9">
          <form class="mt-4 mt-sm-0 float-sm-end d-flex align-items-center">
            <div class="search-box me-2">
              <div class="position-relative">
                <input
                  type="search"
                  class="form-control"
                  id="searchInput"
                  [placeholder]="TRANSLATE_KEY + 'SEARCH' | translate"
                  [formControl]="searchControl"
                  autocomplete="new-input"
                />
                <i class="bx bx-search-alt search-icon"></i>
              </div>
            </div>
            <ul class="nav nav-pills product-view-nav">
              <li class="nav-item">
                <a (click)="clear()" class="btn btn-light"
                  ><i class="mdi mdi-refresh"></i
                ></a>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div
          *ngIf="
            (service.collection$ | async)?.data?.length &&
            authenticationService?.authService?.model
          "
          class="row"
        >
          <div
            class="col-12"
            *ngFor="
              let data of (service.collection$ | async)?.data;
              let index = index
            "
          >
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-centered table-nowrap table-hover align-middle"
                  >
                    <thead>
                      <tr>
                        <th>nombre</th>
                        <th>email</th>
                        <th>telefono</th>
                        <th>tipo documento</th>
                        <th>documento</th>
                        <th>genero</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of (service.collection$ | async)?.data;">
                        <td>{{ data.name }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.phone }}</td>
                        <td>{{ data.idType }}</td>
                        <td>{{ data.identification }}</td>
                        <td>{{ data.gender }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col-auto me-auto">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center"
                  >Mostrar
                  <select
                    aria-controls="tickets-table"
                    name="pageSize"
                    [formControl]="limitControl"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2"
                  >
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                  </select>
                  {{ TRANSLATE_KEY + "ENTRIES" | translate }}</label
                >
              </div>
            </div>
            <div class="col-auto me-auto">
              <p class="mb-0">
                {{ TRANSLATE_KEY + "SHOWING" | translate }}
                <b>{{ service.from }}</b>
                {{ TRANSLATE_KEY + "TO" | translate }} <b>{{ service.to }}</b>
                {{ TRANSLATE_KEY + "OF" | translate }}
                <b>{{ service.total }}</b>
                {{ TRANSLATE_KEY + "ENTRIES" | translate }}
              </p>
            </div>

            <div class="col-auto">
              <ul
                class="pagination pagination-rounded justify-content-end mb-2"
              >
                <ngb-pagination
                  [collectionSize]="service.total"
                  [(page)]="service.page"
                  [maxSize]="3"
                  [rotate]="true"
                  [pageSize]="service.limit"
                >
                </ngb-pagination>
              </ul>
            </div>
          </div>
        </div>


    </div>
    <!-- end row -->
  </div>
</div>
