<footer class="landing-footer footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4  col-sm-12 justify-content-center">
        <div class="row">
          <div class="col-md-12  col-sm-6 col-6 ">
            <div class="footer-logo">
              <img
                src="assets/images/logos/logo.png"
                alt=""

                class="logo logo-dark img-fluid"
              />
            </div>
            <h2  class="description-title fw-bold  text-light  cursor-pointer">
              Hotels
            </h2>
            <p>Luxury suites</p>
          </div>

          <div class="col-md-12 col-sm-6 col-6 ">
            <div class="col-12 d-flex flex-wrap">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                  <div class="mx-1">
                    <img
                      class="img-fluid rounded"
                      width="20"
                      src="assets/images/homepage/icons/ubi-light.png"
                      alt=""
                    />
                  </div>
              </div>
              <div class="col-10 my-1">
                <h5 class="mb-1 footer-list-title small">Kr 13 #10-72  -  San Victorino</h5>
                <h5 class=" footer-list-title small">Cl. 10 #16-17  -  Voto Nacional</h5>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                  <div class="mx-1">
                    <img
                      class="img-fluid rounded"
                      width="20"
                      src="assets/images/homepage/icons/cell.png"
                      alt=""
                    />
                  </div>
              </div>
              <div class="col-10 my-1">
                <h5 class="mb-1 footer-list-title small">+57 (456) 454534343</h5>
                <h5 class=" footer-list-title small">+57 (678) 3454545</h5>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap align-content-around">
              <div
                class="col-md-2 d-flex justify-content-center align-items-center"
              >
                  <div class="mx-1">
                    <img
                      class="img-fluid rounded"
                      width="20"
                      src="assets/images/homepage/icons/email-light.png"
                      alt=""
                    />
                  </div>
              </div>
              <div class="col-10  my-1">
                <h5 class=" footer-list-title text-sm-start small " style="overflow-wrap: break-word;">example@support.com</h5>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
    <!-- end row -->

    <hr class="footer-border my-5" />
<div class="row justify-content-end align-items-end">
<div class="col-md-6  d-flex justify-content-center d-lg-flex ">

    <h4 class="footer-list-title">Encuéntranos en:</h4>

  <div class=" d-flex  ms-1">
    <div class="d-flex justify-content-center align-items-center mx-1">
      <a href="#"target="_blank" rel="noopener noreferrer">
        <img
        class="img-fluid rounded"
        width="30"
        src="assets/images/homepage/icons/instagram.png"
        alt="Instagram"
      />
      </a>

    </div>
    <div class="d-flex justify-content-center align-items-center mx-1">
      <a href="#" target="_blank" rel="noopener noreferrer">
        <img
        class="img-fluid rounded"
        width="30"

        src="assets/images/homepage/icons/meta.png"
        alt="Meta"
      />
      </a>
    </div>
    <div class="d-flex justify-content-center align-items-center mx-1">
      <a  href="#" target="_blank" rel="noopener noreferrer">
        <img
        class="img-fluid rounded"
        width="30"
        src="assets/images/homepage/icons/tiktok.png"
        alt="TikTok"
      />
      </a>

    </div>
  </div>
</div>
</div>


    <div class="row">
      <div class="col-lg-6">
        <p class="mb-2">{{ year }} © Hotels.</p>
        <p>
          Una expereincia inolvidable.
Descubre nuestra línea exclusiva de suites.
        </p>
      </div>
    </div>
  </div>
  <!-- end container -->
</footer>
