<div class="container py-4 mt-4">
  <div class="row text-dark justify-content-center">
    <div class="col-md-9">
      <h1 class="mt-5">{{ TRANSLATE_KEY + "POLICY-PRIVACY" | translate }}</h1>
      <p>Actualizado el 20 de mayo del 2024</p>
    </div>

    <div class="col-md-9">
      <h4>
AUTORIZACIÓN DE TRATAMIENTO DE DATOS PERSONALES
      </h4>
    </div>

    <div class="col-md-9">
      <p>
        De conformidad con lo dispuesto en la Ley Estatutaria 1581 de 2012 y su Decreto reglamentario 1377 de 2013, PROYECTO E S.A.S. (en adelante LAZO), identificada con NIT No. NIT_LAZO – 4 y ubicada en la DIRECION_LAZO de la ciudad de Bogotá, le informa que la recolección de sus datos personales se realizará de acuerdo con lo señalado en nuestra Política de Tratamiento de Datos.
      </p>
      <br>
      <p>Al proporcionarnos sus datos personales, se le informa a usted en calidad de titular, que sus datos serán utilizados para los siguientes fines:</p>
      <ul class="list-group">
        <li class="list-group-item">Gestionar todas las acciones tendientes a tramitar y finalizar su proceso de compra y de envío.</li>
        <li class="list-group-item">Gestión a nivel interno de Peticiones, Quejas y Reclamos (“PQR”) y procesos propios de servicio al cliente de la compañía.</li>
        <li class="list-group-item">Mantenerlo informado sobre los productos y servicios que tenemos disponible.</li>
        <li class="list-group-item">Implementar estrategias comerciales adaptadas a los diversos tipos de usuarios, así como hacer seguimiento de los comportamientos de compra con el fin de prestar un servicio personalizado y generar una mejor experiencia.</li>
        <li class="list-group-item">Contactar a los usuarios para realizar acciones de verificación de compras y autenticación de identidad, a efectos de garantizar la seguridad de las transacciones realizadas.</li>
    </ul>
    </div>
    <div class="col-md-9">
      <p>
        El tratamiento al que pueden ser sometidos sus datos personales incluye el procesamiento, recolección, almacenamiento, uso, circulación, supresión, actualización, transmisión y/o transferencia (entendidas éstas como la posibilidad de compartir información con terceros los datos suministrados).
      </p>
      <p>
        Los datos recolectados y su procesamiento pueden incluir o concluir información sensible, sobre la cual no está obligado a autorizar el tratamiento, pero autorizados serán utilizados para las finalidades anteriormente descritas.
    </p>
    <p>
        LAZO podría compartir su información personal privada con terceros y aliados comerciales, los cuales en razón de nuestro encargo realizarán gestiones para garantizar la continuidad de nuestra operación. Tenga en cuenta que éstos terceros pueden estar en Colombia y/u otros países que eventualmente pudieran considerarse como destinos o puertos no seguros de acuerdo lo señalado por la Autoridad Colombiana de Protección de Datos. No obstante, LAZO pondrá todo su empeño para garantizar que el tercero al cual pudiere compartírsele sus datos personales cuente con los procesos y procedimientos que garanticen la integridad y confidencialidad de sus datos personales.
    </p>
    </div>


    <div class="col-md-9">
      <p>
        LAZO utiliza cookies las cuales son pequeños archivos de texto que identifican a su computadora en nuestro servidor como un usuario único. Se entiende aceptado el uso de cookies al navegar en el sitio web, y en todo caso a través de este documento nos autoriza expresamente para el uso de cookies.
    </p>
    <p>
        Solo utilizamos las cookies para tratar datos personales cuando se ha aceptado su uso, y le indicamos que los navegadores pueden ser configurados para no aceptar cookies, pero esto podría restringir el uso de la página web y limitar su experiencia en esta. Por ejemplo, las cookies se pueden utilizar para reconocer la dirección de protocolo de Internet, lo que le ahorrará tiempo a quienes se encuentran en la página web o quieren entrar en el futuro. Sin embargo, nos gustaría señalar que el uso de la funcionalidad “Carrito” en el Sitio y la de aceptar una orden sólo es posible con la activación de las cookies.
    </p>
  <p>
      En calidad de titular tiene derecho a conocer, actualizar, rectificar, revocar la autorización y suprimirla, así como de la posibilidad de acceder en cualquier momento a los datos suministrados y el procedimiento para solicitar su corrección, actualización o supresión de las bases de datos de LAZO, los puede ejercer observando los procesos de consultas y reclamos contenidos en la Política de Tratamiento del Dato de LAZO.
  </p>
  <p>
    En calidad de titular tiene derecho a conocer, actualizar, rectificar, revocar la autorización y suprimirla, así como de la posibilidad de acceder en cualquier momento a los datos suministrados y el procedimiento para solicitar su corrección, actualización o supresión de las bases de datos de LAZO, los puede ejercer observando los procesos de consultas y reclamos contenidos en la Política de Tratamiento del Dato de LAZO. Cualquier inquietud, consulta o reclamo por favor contáctenos en ALICIA-EMAIL.
</p>
    </div>
    <div class="col-md-9">
      <h4>


AUTORIZACIÓN DE TRATAMIENTO DE DATOS PERSONALES

PROYECTO E S.A.S.

NIT.NIT_LAZO

      </h4>
    </div>
    <div class="col-md-9">
      <p class=" text-danger">
        Con el fin de dar cumplimiento a la ley 1581 de 2012, sus decretos reglamentarios, y toda norma posterior que las modifique o complemente la sociedad PROYECTO E S.A.S., identificada con NIT. 901.110.407-4, con domicilio en la Carrera 68G # 74B - 56 de la ciudad de Bogotá, cuyo teléfono es 301 2581856, y cuyo correo electrónico de contacto es pqrs@LAZO.com.co adopta la siguiente política de tratamiento de datos personales (en adelante La Política).
      </p>

      <h4>DEFINICIONES</h4>
      <p>Para la implementación de La Política, se tendrán en cuenta las siguientes definiciones:</p>
      <ul class="list-group">
          <li class="list-group-item"><strong>Autorización:</strong> Consentimiento previo, expreso e informado del titular para llevar a cabo el tratamiento de datos personales.</li>
          <li class="list-group-item"><strong>Aviso de privacidad:</strong> Comunicación verbal o escrita generada por el responsable, dirigida al titular para el tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del tratamiento que se pretende dar a los datos personales.</li>
          <li class="list-group-item"><strong>Base de datos:</strong> Conjunto organizado de datos personales que sea objeto de tratamiento.</li>
          <li class="list-group-item"><strong>Causahabiente:</strong> Persona que ha sucedido a otra por causa del fallecimiento de esta. (Heredero).</li>
          <li class="list-group-item"><strong>Compañía o Empresa:</strong> Se refiere a la sociedad PROYECTO E S.A.S.</li>
          <li class="list-group-item"><strong>Dato personal:</strong> Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.</li>
          <li class="list-group-item"><strong>Dato público:</strong> Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.</li>
          <li class="list-group-item"><strong>Datos sensibles:</strong> Se entiende por datos sensibles aquellos que afectan la intimidad del titular o cuyo uso indebido puede generar su discriminación, tales como que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.</li>
          <li class="list-group-item"><strong>Encargado del tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el tratamiento de datos personales por cuenta del responsable del tratamiento.</li>
          <li class="list-group-item"><strong>Responsable del tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el tratamiento de los datos.</li>
          <li class="list-group-item"><strong>Titular:</strong> Persona natural cuyos datos personales sean objeto de tratamiento.</li>
          <li class="list-group-item"><strong>Tratamiento:</strong> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.</li>
          <li class="list-group-item"><strong>Transferencia:</strong> La transferencia de datos tiene lugar cuando el responsable y/o encargado del tratamiento de datos personales, ubicado en Colombia o en el exterior, envía la información o los datos personales a un receptor, que a su vez es responsable del tratamiento y se encuentra fuera del país.</li>
          <li class="list-group-item"><strong>Transmisión:</strong> Tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la república de Colombia cuando tenga por objeto la realización de un tratamiento por el encargado por cuenta del responsable.</li>

      </ul>

    </div>
    <div class="col-md-9 ">

      <h4 class="mb-4">OBJETIVO DE LA POLÍTICA</h4>
      <p>Establecer los criterios para la recolección, almacenamiento, uso, circulación y supresión de los datos personales tratados por PROYECTO E S.A.S.</p>

      <h4 class="mb-4">ALCANCE</h4>
      <p>La Política aplica para toda la información personal registrada en las bases de datos de PROYECTO E S.A.S., quien actúa en calidad de responsable del tratamiento de los datos personales.</p>

      <h2 class="mb-4">OBLIGACIONES</h2>
      <p>La Política es de obligatorio y estricto cumplimiento para PROYECTO E S.A.S. y todos sus empleados.</p>

      <h2 class="mb-4">RESPONSABLE DEL TRATAMIENTO</h2>
      <p>PROYECTO E S.A.S., sociedad comercial legalmente constituida, identificada con el <span class="highlight-red">NIT. 901.110.407-4</span>, con domicilio principal en la 68G # 74B - 56 de la ciudad de Bogotá, República de Colombia, cuyo teléfono es 301 2581856, y cuyo correo electrónico de contacto es pqrs@LAZO.com.co</p>

      <h2 class="mb-4">TRATAMIENTO Y FINALIDAD</h2>
      <p>PROYECTO E S.A.S. realizará el almacenamiento, uso, procesamiento, circulación, y en general el tratamiento a la información personal con las siguientes finalidades:</p>

    </div>
    <div class="col-md-9">
      <p class="fw-bold">Respecto de los datos de clientes y consumidores:</p>
      <ul class="list-group">
          <li class="list-group-item">Proveer servicios y/o productos requeridos por nuestros clientes y/o anunciados a ellos.</li>
          <li class="list-group-item">Informar sobre nuevos productos o servicios que estén relacionados o no, con el contratado o adquirido por el Titular.</li>
          <li class="list-group-item">Dar cumplimiento a obligaciones contraídas con el Titular.</li>
          <li class="list-group-item">Efectuar las gestiones pertinentes para el desarrollo del objeto social de la compañía en lo que tiene que ver con el cumplimiento del objeto del contrato celebrado con el Titular de la información.</li>
          <li class="list-group-item">Informar sobre cambios en productos o servicios.</li>
          <li class="list-group-item">Evaluar la calidad de los productos o servicios.</li>
          <li class="list-group-item">Desarrollar actividades publicitarias, de mercadeo o promocionales.</li>
          <li class="list-group-item">Realizar estudios internos sobre el cumplimiento de las relaciones comerciales y estudios de mercado a todo nivel.</li>
          <li class="list-group-item">Permitir la participación de los titulares de información en programas de lealtad con beneficios, actividades de mercadeo y promocionales (sorteos).</li>
          <li class="list-group-item">Contactar al titular por vía telefónica (a través de llamadas y/o mensajes de texto como SMS y/o MMS), correo físico o electrónico , o medios digitales (como aplicaciones de mensajería instantánea y redes sociales, tales como Facebook, Instagram y WhatsApp, etc.) para:
              <ul>
                  <li>Enviar información comercial, publicitaria o promocional sobre los productos y/o servicios, eventos y/o promociones de tipo comercial o no de estas, con el fin de impulsar, invitar, dirigir, ejecutar, informar y de manera general, llevar a cabo campañas, promociones o concursos de carácter comercial o publicitario.</li>
                  <li>Realizar encuestas de satisfacción.</li>
                  <li>Enviar información sobre los productos o servicios requeridos y su estado.</li>
                  <li>En general para todas las finalidades establecidas en estas políticas.</li>
              </ul>
          </li>
          <li class="list-group-item">Suministrar información de contacto a la fuerza comercial y/o red de distribución, telemercadeo, investigación de mercados y cualquier tercero con el cual PROYECTO E S.A.S. tenga un vínculo contractual para el desarrollo de actividades de ese tipo (investigación de mercados y telemercadeo, etc.) para la ejecución de las mismas.</li>
          <li class="list-group-item">Transferir y/o transmitir los datos personales recolectados con terceros que tengan la calidad de aliados comerciales y/o de negocio para puedan ofrecer productos y/o servicios que permitan mejorar la oferta de valor destinada a los clientes de PROYECTO E S.A.S., de acuerdo con las finalidades establecidas en esta política.</li>
          <li class="list-group-item">Enviar información de medios de pago electrónicos a plataformas de pago digitales para procesar pagos y compras.</li>
          <li class="list-group-item">Facilitar la identificación y prestar una experiencia de servicio completa, por ejemplo, utilizando cookies.</li>
          <li class="list-group-item">Realizar la gestión contable, fiscal y administrativa de clientes.</li>
          <li class="list-group-item">Verificar antecedentes comerciales y de reputación de los clientes.</li>
          <li class="list-group-item">Gestionar actividades de comunicación y fidelización de clientes, así como la atención oportuna de todas las peticiones, quejas, reclamos y sugerencias (PQRS).</li>
          <li class="list-group-item">Responder requerimientos legales de entidades administrativas y judiciales.</li>
          <li class="list-group-item">Consultar información del titular en centrales de riesgo.</li>
          <li class="list-group-item">Consultar o recibir información, vía contratos transmisión o transferencia, que se encuentra contenida en bases de datos de terceros para completar o actualizar los datos personales de los titulares.</li>
      </ul>
  </div>
  <div class="col-md-9">
    <p class="fw-bold">Respecto de los datos de proveedores de bienes y servicios:</p>
    <ul class="list-group">
        <li class="list-group-item">Obtener servicios y bienes.</li>
        <li class="list-group-item">Realizar la gestión contable, fiscal y administrativa de proveedores.</li>
        <li class="list-group-item">Verificar antecedentes comerciales, de reputación y eventuales riesgos financieros, y de relacionamientos asociados al lavado de activos y financiación del terrorismo.</li>
        <li class="list-group-item">Formalizar el relacionamiento contractual con el proveedor.</li>
        <li class="list-group-item">En general todas aquellas necesarias para la materialización y gestión de la relación contractual de la empresa con el titular y de futuras relaciones contractuales.</li>
    </ul>
    <p class="fw-bold">Respecto de los datos asociados a la administración del talento humano:</p>
    <ul class="list-group">
        <li class="list-group-item">En el marco de convocatorias a participar en cargos o posiciones, como: evaluar el perfil laboral de los aspirantes, verificar antecedentes y entorno del aspirante, y gestionar afiliación o reporte de novedades asociadas al sistema general de seguridad social y demás registros obligatorios relacionados con prestaciones sociales.</li>
        <li class="list-group-item">Efectuar gestión de recursos humanos y de colaboradores, como, sin limitarse a: registro en los sistemas informáticos, gestión del control de horario y la ubicación espacial en el horario de trabajo, formación de personal, gestión de liquidación y pago de nómina, gestión de personal, gestión de trabajo temporal, prestaciones sociales, prevención de riesgos laborales, promoción y gestión de empleo, promoción y selección de personal, y promoción del desarrollo de actividades de bienestar y desarrollo integral del trabajador y su entorno laboral y familiar.</li>
        <li class="list-group-item">Ofrecer beneficios y auxilios extralegales a los empleados y a sus familias.</li>
        <li class="list-group-item">Gestionar todo lo relacionado con acuerdos, compromisos y obligaciones derivados de sindicatos, pactos o negociaciones colectivas.</li>
        <li class="list-group-item">Gestionar los procedimientos de desvinculación o jubilación laboral, así como el cumplimiento de las obligaciones económicas correspondientes.</li>
        <li class="list-group-item">Todas las demás gestiones requeridas para el cumplimiento de las obligaciones, derechos y garantías a favor de empleados que están dispuestos en la ley, pacto colectivo, convención colectiva y respectivos contratos de trabajo.</li>
        <li class="list-group-item">Gestión de salud, sanidad y salud ocupacional, sin limitarse a, como: control sanitario en las instalaciones de la compañía, exámenes de ingreso y de egreso de empleados, y demás exámenes establecidos por las normas, reglamentos internos de trabajo, pactos o convenciones colectivas de trabajo.</li>
        <li class="list-group-item">Informar a terceros sobre la realización de funciones laborales.</li>
        <li class="list-group-item">Efectuar controles de acceso y verificación de identidad en las oficinas de la compañía.</li>
        <li class="list-group-item">Garantizar la seguridad a través del sistema de videovigilancia.</li>
        <li class="list-group-item">En general todas aquellas necesarias para la materialización y gestión de la relación contractual de la empresa con el titular y de futuras relaciones contractuales.</li>
    </ul>
    <p class="fw-bold">Respecto de los datos relacionados con la seguridad y ética corporativa (incluidos datos sensibles como datos biométricos):</p>
    <ul class="list-group">
        <li class="list-group-item">Gestionar la seguridad de las instalaciones, perímetro de la compañía y proteger la integridad de las personas.</li>
        <li class="list-group-item">Realizar el control de acceso a los edificios.</li>
        <li class="list-group-item">Verificar, controlar y monitorear el desarrollo de los procesos, actividades y productos conforme a los lineamientos y objetivos corporativos y en función del control y aseguramiento de calidad.</li>
        <li class="list-group-item">Gestionar el desarrollo de acciones o actuaciones jurisdiccionales, disciplinarias, administrativas o extraprocesales.</li>
    </ul>
    <p class="fw-bold">Parágrafo:</p>
    <p>El tratamiento que realizará PROYECTO E S.A.S. con la información personal consistirá en la recolección, almacenamiento, uso, y circulación de los datos para las finalidades arriba enumeradas. Además, podrá transmitir dichos datos a terceros en Colombia o en el extranjero para que realicen tratamiento de estos por cuenta de PROYECTO E S.A.S. para el desarrollo de las finalidades arriba enunciadas. También podrá enviar los datos a empresas matrices, subsidiarias, o vinculadas de PROYECTO E S.A.S., en Colombia y en el extranjero, o con aliados comerciales para que traten la información con las mismas finalidades para las cuales fueron recolectadas.</p>
</div>
<div class="col-md-9">
  <p class="fw-bold">7. USO DE COOKIES</p>
  <p>Las cookies son pequeños archivos de texto que identifican a su computadora en nuestro servidor como un usuario único. Se entiende aceptado el uso de cookies al navegar en el sitio web. Solo utilizamos las cookies para tratar datos personales cuando se ha aceptado su uso, y le indicamos que los navegadores pueden ser configurados para no aceptar cookies, pero esto podría restringir el uso de la página web y limitar su experiencia en esta. Por ejemplo, las cookies se pueden utilizar para reconocer la dirección de protocolo de Internet, lo que le ahorrará tiempo a quienes se encuentran en la página web o quieren entrar en el futuro. Sin embargo, nos gustaría señalar que el uso de la funcionalidad “Carrito” en el Sitio y la de aceptar una orden sólo es posible con la activación de las cookies.</p>

  <p class="fw-bold">8. DATOS Y DERECHOS DE NIÑOS, NIÑAS Y ADOLESCENTES</p>
  <p>Conforme con la normativa de protección de datos personales, la información personal de los niños, niñas y adolescentes se encuentra sujeta a una especial protección por parte de PROYECTO E S.A.S. Esta información podrá ser tratada en el desarrollo de actividades sociales, promocionales y de beneficios a los hijos de los colaboradores. La autorización del tratamiento debe ser otorgada previamente por el representante legal del menor, previo ejercicio del menor de su derecho a ser escuchado conforme a la razonable determinación de su nivel de madurez, autonomía y capacidad para entender el asunto.</p>
  <p>El tratamiento de este tipo especial de datos está supeditado al cumplimiento de las condiciones fijadas por la normativa de protección de datos personales, como las siguientes:</p>
  <ul class="list-group">
      <li class="list-group-item">Asegurar que el tratamiento respete el interés superior, los derechos prevalentes y los derechos fundamentales de los niños, niñas y adolescentes.</li>
      <li class="list-group-item">Tratar exclusivamente datos que sean de naturaleza pública o que si se tratan datos privados o semiprivados se haga en los términos de la sentencia C-748 de 2011 de la Corte Constitucional.</li>
      <li class="list-group-item">Informar al menor y a su representante legal sobre los términos y condiciones de la respectiva actividad.</li>
  </ul>
  <p>Para efectos de la autorización, el representante legal del niño, niña o adolescente podrá darla garantizando que en la medida de lo posible se escuchará al menor y su opinión será valorada teniendo en cuenta su madurez, autonomía y capacidad para entender el asunto.</p>

  <p class="fw-bold">9. DATOS Y DERECHOS DE TITULARES RESPECTO DEL TRATAMIENTO DE DATOS SENSIBLES</p>
  <p>Los datos sensibles serán recolectados y tratados para las finalidades listadas en esta política. PROYECTO E S.A.S. se compromete a proteger la privacidad durante el procesamiento de sus datos personales identificables y sensibles. Cuando los titulares de la información autoricen de manera expresa el uso de datos sensibles, PROYECTO E S.A.S. hará uso de estos con especial cuidado y de conformidad con las reglas establecidas en la legislación de protección de datos y sus decretos reglamentarios.</p>
</div>


<div class="col-md-9">
  <p class="fw-bold">Frente a eventos de recolección de datos sensibles siempre se procederá garantizando al menos las siguientes acciones:</p>
  <ol class="list-group">
      <li class="list-group-item">Informar al Titular que por tratarse de datos sensibles no está obligado a autorizar su tratamiento.</li>
      <li class="list-group-item">Informar al Titular de forma explícita y previa, además de los requisitos generales de la autorización para la recolección de cualquier tipo de dato personal, cuáles de los datos que serán objeto de Tratamiento son sensibles y la finalidad del Tratamiento, así como obtener su consentimiento expreso.</li>
      <li class="list-group-item">Ninguna actividad podrá condicionarse a que el Titular suministre datos personales sensibles.</li>
  </ol>

  <p class="fw-bold">10. DERECHOS DE LOS TITULARES:</p>
  <p>Como titular de sus datos personales Usted tiene derecho a:</p>
  <ol class="list-group">
      <li class="list-group-item">Acceder de forma gratuita a los datos proporcionados que hayan sido objeto de tratamiento.</li>
      <li class="list-group-item">Conocer, actualizar y rectificar su información frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté prohibido o no haya sido autorizado.</li>
      <li class="list-group-item">Solicitar prueba de la autorización otorgada.</li>
      <li class="list-group-item">Presentar ante la Superintendencia de Industria y Comercio (SIC) quejas por infracciones a lo dispuesto en la normatividad vigente.</li>
      <li class="list-group-item">Revocar la autorización y/o solicitar la supresión del dato, siempre que no exista un deber legal o contractual que impida eliminarlos.</li>
      <li class="list-group-item">Abstenerse de responder las preguntas sobre datos sensibles. Tendrá carácter facultativo las respuestas que versen sobre datos sensibles o sobre datos de las niñas, niños y adolescentes.</li>
  </ol>

  <p class="fw-bold">11. ATENCIÓN DE PETICIONES, CONSULTAS Y RECLAMOS:</p>
  <p>El Área de servicio al cliente de PROYECTO E S.A.S. es la dependencia que tiene a cargo dar trámite a las solicitudes de los titulares para hacer efectivos sus derechos.</p>

  <p class="fw-bold">A. Consultas:</p>
  <p>Los titulares o sus causahabientes podrán consultar la información personal del titular que repose en las bases de datos de PROYECTO E S.A.S., quien se compromete a suministrar toda la información contenida en el registro individual o que esté vinculada con la identificación del titular y por tanto garantiza:</p>
</div>

<div class="col-md-9">
  <p class="fw-bold">A. Consultas:</p>
  <p>Los titulares o sus causahabientes podrán consultar la información personal del titular que repose en las bases de datos de PROYECTO E S.A.S., quien se compromete a suministrar toda la información contenida en el registro individual o que esté vinculada con la identificación del titular y por tanto garantiza:</p>
  <ul class="list-group">
      <li class="list-group-item">Habilitar medios de comunicación electrónica u otros que considere pertinentes.</li>
      <li class="list-group-item">Establecer formularios, sistemas y otros métodos simplificados.</li>
      <li class="list-group-item">Utilizar los servicios de atención al cliente o de reclamaciones que tiene en operación.</li>
      <li class="list-group-item">En cualquier caso, independientemente del mecanismo implementado para la atención de solicitudes de consulta, las mismas serán atendidas en un término máximo de diez (10) días hábiles contados a partir de la fecha de su recibo. Cuando no fuere posible atender la consulta dentro de dicho término, se informará al interesado antes del vencimiento de los 10 días, expresando los motivos de la demora y señalando la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los cinco (5) días hábiles siguientes al vencimiento el primer plazo.</li>
      <li class="list-group-item">Las peticiones, consultas podrán formularse al correo <a href="mailto:pqrs@LAZO.com.co">pqrs@LAZO.com.co</a> o en la página web <a href="https://LAZO.com.co/pqrs">https://LAZO.com.co/pqrs</a> y al teléfono <a href="tel:+573012581856">3012581856</a>.</li>
  </ul>

  <p class="fw-bold">B. Reclamo:</p>
  <p>El titular o sus causahabientes que consideren que la información contenida en una base de datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en la ley o en la presente política de tratamiento, podrán presentar un reclamo ante el área de servicio al cliente y/o al correo electrónico <a href="mailto:pqrs@LAZO.com.co">pqrs@LAZO.com.co</a> el cual será tramitado bajo las siguientes reglas:</p>
  <ol>
      <li>El reclamo del titular se formula mediante solicitud dirigida al Área de servicio al cliente, a través del correo electrónico <a href="mailto:pqrs@LAZO.com.co">pqrs@LAZO.com.co</a>, o al teléfono <a href="tel:+573012581856">3012581856</a> dirigida al Área de servicio al cliente, con la identificación del titular, la descripción de los hechos que dan lugar al reclamo, la dirección y acompañando los documentos que se quiera hacer valer. Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.</li>
      <li>En caso de que quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda en un término máximo de dos (2) días hábiles e informara de la situación al interesado.</li>
      <li>Una vez recibido el reclamo completo, este se catalogará con una etiqueta “reclamo en trámite” y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Dicha etiqueta se mantendrá hasta que el reclamo sea decidido.</li>
      <li>El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles si.</li>
  </ol>
</div>








  </div>
</div>
